#app {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #app > h1{
    color: #996dff;
    margin-top: -5px;
    font-size: 50px;
}

  
  #app > img {
    width: 100px;
  }
  
  #app > h2
  #app > p {
    color: var(--text-color);
  }
  
  #app > h2 {
    align-self: flex-start;
    margin-top: 4rem;
  }
  
  #app > p {
    align-self: flex-start;
    text-align: justify;
    width: 512px;
    margin-top: 10px;
  }
  
  #app .placeholder {
    color: var(--placeholder-color);
    user-select: none;
  }
  