#form {
    margin-top: 3rem;
    display: flex;
    gap: 1rem;
  }
  
  #form > input {
    height: 48px;
    width: 450px;
    color: var(--second-font-color);
    background-color: var(--second-bg-color);
    border-radius: 5px;
    padding: 0 0.8rem;
    font-size: 0.8rem;
  
    transition: background 0.2s;
  }
  
  #form > input:focus {
    outline: 2px solid var(--ouline-color);
  }
  
  #form > input:valid {
    background: var(--second-bg-color);
  }
  
  #form > input:hover {
    background: var(--third-bg-color);
  }
  
  #form > input::placeholder {
    color: var(--placeholder-color);
  }
  
  #form > button {
    height: 48px;
    width: 48px;    border-radius: 5px;
    background: var(--ouline-color);
    cursor: pointer;
    transition: background 0.2s;
  }
  
  #form > button:hover {
    background: var(--third-font-color);
  }
  
  #form > button i {
    font-size: 24px;
    color: var(--second-font-color);
  }
  