.light {
  --font-color: #996dff;
  --second-font-color: #fff;
  --third-font-color: #633bbc;
  --bg-color: #fff;
  --second-bg-color: #d0d0d0;
  --third-bg-color: #e1e1e1;
  --ouline-color: #8257e5;
  --placeholder-color: #323232;
  --text-color: #000;
}

#theme {
  position: absolute;
  top: 0%;
  left: 0%;
}

#theme > i {
  font-size: 24px;
  border-radius: 50%;
  padding: 0.5rem;
  text-align: center;
  background: var(--ouline-color);
  color: var(--second-font-color);
  cursor: pointer;

  transition: background 0.2s;
}

#theme > i:hover {
  background: var(--third-font-color);
}
